body {
  font-family: 'Courier New', Courier, monospace;
}

img {
  height:500px;
  padding:10px 0px 50px 0px;
  box-sizing: border-box;
}

.container {
padding:50px 0px 100px 0px;
}

h1 {
  text-align: center;
  padding:0px 0px 30px 0px;
}

h5 {
  font-size:1em;
}
.quizItem {
width:60%;
padding:20px 0px 10px 0px;
}

#getMatch {
  margin:30px 0px 50px 0px;
  padding: 3px;

}

#again {
  display:none;
  margin:30px 0px 50px 0px;
  padding: 3px;
}

.match {
  display:none;
}